

            <div class="modal" id="showmodal" tabindex="-1">
               <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h3>Product</h3>
                      <button class="close" data-dismiss ="modal">
                        &times;
                      </button>
                  </div>
                  <div class="modal-body">
                    <p>

                       <strong>Name:</strong>
                      <%= @product.name %>
                    </p>

                    <p>
                      <strong>Price:</strong>
                      <%= @product.price %>
                    </p>

                    <p>
                      <strong>Manufacture date:</strong>
                      <%= @product.manufacture_date %>
                    </p>

                    <p>
                      <strong>Image</strong>
                     <%= image_tag(@product.avatar) %>
                    </p>


                    <button type="button" class="btn btn-info">
                        <%= link_to 'Edit', edit_product_path(@product) %> 
                    </button>
                    <button type="button" class="btn btn-info">
                        <%= link_to 'Back', products_path %>
                    </button>

                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" data-dismiss="modal">close</button>
                  </div>
                </div>
              </div>
            </div>
